@font-face {
   font-family: 'SpriteGraffiti-Regular';
   font-display: swap;
   src: url('file:///C:/Users/donke/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-05-04_221717/fonts/SpriteGraffiti-Regular/font.ttf');
}
